img {
    width: 100%;
}

body {
    background-color: black;
    width: 100%;
    margin: 200px 100px;

}

.car {
    min-width: 1500px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 1;
}

.poop-container {
    position: absolute;
    /* Position poop container relative to the car */
    top: -180px;
    left: -50px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.poop {
    width: 130px;
    position: absolute;
    opacity: 1;
    /* Initial opacity */
    transition: opacity 0.5s ease-in 0s, opacity 1.5s ease-out 0.2s;
    /* Transition for opacity with ease-in-out timing */
}

.poop:hover {
       /* Make the poop disappear on hover */
    opacity: 0;
        /* Remove delay on hover */
    transition-delay: 0s;
}

.poop-1 {
    width: 120px;
    top: 45%;
    left: 35%;
}

.poop-2 {
    top: 50%;
    left: 60%;
}

.poop-3 {
    top: 70%;
    left: 40%;
}

.poop-4 {
    width: 100px;
    top: 70%;
    left: 15%;
}

.poop-5 {
    width: 130px;
    top: 60%;
    left: 93%;
}

.poop-6 {
    width: 90px;
    top: 35%;
    left: 85%;
}

/* Delay reappearance after hover ends */
.poop:not(:hover) {
    transition-delay: 3s;
}

/* bird flying across the screen */
.bird {
    width: 400px;
    background-size: cover;
    position: absolute;
    /* Start position outside the bottom edge of the screen */
    bottom: -100px;
    /* Start position outside the left edge of the screen */
    left: 0;
    /* Animation */
    animation: flyDiagonal 6s linear infinite;

    /* Delay between each loop */
    animation-delay: 5s;
    z-index: 4;
    transform: rotate(-105deg);
}

@keyframes flyDiagonal {
    0% {
        /* Start position outside the bottom edge of the screen */
        bottom: -100px;
        /* Start position outside the left edge of the screen */
        left: 0;
    }

    100% {
        /* End position at the top edge of the screen */
        bottom: calc(100% + 100px);
        /* End position at the right edge of the screen */
        left: calc(100% + 1200px);
    }
}