@font-face {
    font-family: 'bradford';
	src: url('../font/BradfordMonoLL-Regular.otf');
}

/* grid layout example */
body {
	background-color: rgb(25, 25, 25);
	color: rgb(195, 195, 195);
	font-family: 'bradford';
	font-size: 10pt;
	max-width: 100%;
	position: relative;
	margin: 0;
	/* padding: 4rem; */
	display: grid;
	grid-template-columns: 400px 1fr;
	/* 1fr = 1 fraction of the remaining width */

	gap: 2rem;
	/* gap between the columns */
	align-items: start;
	/* the border wraps immediately below the grid */
}

p {
	/* font-size: 20px; */
	color: rgb(25, 105, 61);
}

a:hover {
	color: blueviolet;
}

img {
	width: 100%;
	display: inline-block;
	/* border: 1px solid black; */
	/* padding: 1rem; */
	/* box-sizing: border-box; */
}

ol {
	margin: 0;
	padding: 0;
}

ol ol {
	padding-left: 2rem;
}


/* 
---------------------------------
Navigation styles
---------------------------------
*/

.navigation {
	border: 0.1px solid;
	position: sticky;
	top: 2rem;
	left: 2rem;
	padding: 1rem;
	margin: 1rem;
}

.navigation ol {
	list-style: none;
}

.navigation li {
	border-bottom: 1px solid rgb(91, 91, 91);
	/* border-width, border-style, border-color */
}

/* .navigation > ol > li:last-child {
	border-bottom: none;
} */

.navigation__primary>li:last-child {
	border-bottom: none;
}

.navigation a {
	display: block;
	text-decoration: none;
	padding: 0.5rem;
	color: rgb(96, 96, 96);

	transition: color 1s ease;

	&:hover {
		color: cyan;
		filter: blur(3px);
	}
}

.navigation a:hover {
	color: cyan;
}

/* navigation target example */
:target:before {
	content: "🥹";
	/* can be unicode, including emoji */
	display: inline-block;
	animation: current-header 1s ease infinite reverse;
}

@keyframes current-header {
	/* happening at 0% of time / beginning : */
	0% {   
		transform: rotate(0deg) scale(1);    	/* in transform, no need to change lines */
	}

	/* happening at 50% of time: / end */
	50% {
		transform: rotate(360deg) scale(2);
	}

	/* happening at 100% of time: / end */
	100% {
		transform: rotate(360deg) scale(1);
	}
}


/* 
---------------------------------
Essay styles
---------------------------------
*/

.intro-text {
	background-color: lightgreen;
	color: green;
}

.callout {
	font-size: 30px;
	font-style: italic;
	color: cornflowerblue;
	background-color: rgb(255, 255, 255);
	border: 1px solid cornflowerblue;
	margin: 0;
	padding: 0;
	/* box model example */
	/* width: 100%; */
	padding: 1rem;
	margin: 2rem;
	box-sizing: content-box;
	/* width: calc(100% - 4rem); */
}


/* 
---------------------------------
Related articles styles
---------------------------------
*/

/* border-box example */
.related {
	background-color: rgb(224, 130, 255);
	display: flex;
	flex-wrap: wrap;
}

.directory {
	flex-basis: 100%;
}

.related__essay {
	background-color: rgb(136, 225, 255);
	margin-bottom: 1rem;
	width: 100%;
	padding: 1rem;
	flex-basis: calc(100%/3);
	/* padding: 1rem; */
	box-sizing: border-box;
	/* margin: 1rem; */
}

