@font-face {
    font-family: 'bradford';
	src: url('../font/BradfordMonoLL-Regular.otf');
}

@font-face {
    font-family: 'jabin';
	src: url('../font/Jabin-Typeface.ttf');
}

/* grid layout example */
body {
	background-color: rgb(14, 14, 14);
	color: rgb(195, 195, 195);
	font-family: 'bradford';
	font-size: 10pt;
	max-width: 100%;
	position: relative;
	margin: auto;
}

.opener {
	left: 2rem;
	padding: 1rem;
	margin-left: 2rem;
	margin-top: 15rem;
	font-family: jabin;
	font-size: 100px;
	font-weight: 20;
}

.star {
	display: inline-block;
	animation: opener-star 3s ease infinite reverse;
	font-size: 50px;
}

@keyframes opener-star {
	/* happening at 0% of time / beginning : */
	0% {   
		transform: rotate(0deg) scale(1);    	/* in transform, no need to change lines */
	}

	/* happening at 50% of time: / end */
	50% {
		transform: rotate(360deg) scale(2.3);
	}

	/* happening at 100% of time: / end */
	100% {
		transform: rotate(360deg) scale(1);
	}
}

.content {
	margin: 0;
	/* padding: 4rem; */
	display: grid;
	grid-template-columns: 340px 1fr;
	/* 1fr = 1 fraction of the remaining width */
	gap: 2rem;
	/* gap between the columns */
	align-items: start;
	/* the border wraps immediately below the grid */
}



a:hover {
	color: blueviolet;
}

img {
	width: 100%;
	display: inline-block;
	/* border: 1px solid black; */
	/* padding: 1rem; */
	/* box-sizing: border-box; */
}

ol {
	margin: 0;
	padding: 0;
}

ol ol {
	padding-left: 2rem;
}


/* 
---------------------------------
Navigation styles
---------------------------------
*/

.navigation {
	/* border: 0.1px solid; */
	position: sticky;
	top: 2rem;
	left: 2rem;
	padding: 1rem;
	margin: 1rem;
}

.navigation ol {
	list-style: none;
}

.navigation li {
	border-bottom: 1px solid rgb(91, 91, 91);
	/* border-width, border-style, border-color */
}

/* .navigation > ol > li:last-child {
	border-bottom: none;
} */

.navigation__primary>li:last-child {
	border-bottom: none;
}

a {
	display: block;
	text-decoration: none;
	padding: 0.5rem;
	color: rgb(195, 195, 195);

	transition: color 1s ease;

	&:hover {
		color: cyan;
		filter: blur(3px);
	}
}

.navigation a:hover {
	color: cyan;
}

/* navigation target example */
:target:before {
	content: "⟡";
	/* can be unicode, including emoji */
	display: inline-block;
	animation: current-header 3s ease infinite reverse;
	margin-right: 0.4rem;
}

@keyframes current-header {
	/* happening at 0% of time / beginning : */
	0% {   
		transform: rotate(0deg) scale(1);    	/* in transform, no need to change lines */
	}

	/* happening at 50% of time: / end */
	50% {
		transform: rotate(360deg) scale(2.3);
	}

	/* happening at 100% of time: / end */
	100% {
		transform: rotate(360deg) scale(1);
	}
}

/*  ---------------  */
/*       directory    */
/*  ---------------- */

.directory {
	margin-top: 2rem;
}

.directory-title {
	margin-bottom: 4rem;
	font-family: jabin;
	font-weight: 20;
	font-size: 20px;
}

.stone-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; /* Adjust the gap between stones */
	min-width: 800px;
}

.stone {
    flex: 1 0 calc(33.33% - 3rem); /* Adjust the width of each stone (33.33% - gap) */
    max-width: calc(33.33% - 3rem);
    box-sizing: border-box;
	margin-bottom: 30px;
}

.stone img {
    width: 70%;
	margin: auto; /* Center the image horizontally */
    display: block;
	margin-top: 50px auto;
    margin-bottom: 30px; /* Adjust the spacing between image and label */
	min-width: 300px;
}

.stone p {
    text-align: center;
}


.label {
	border-bottom: 1px solid rgb(91, 91, 91);
	padding: 0.5rem;
	transition: color 1s ease;
	margin: 0;
}

img:hover{
	filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  }

.pyrite img{
	width: 30%;
}